$day-width: 220px;
$gap: 2px;
$days: 'mon' 0, 'tues' 1, 'wed' 2, 'thurs' 3, 'fri' 4, 'sat' 5, 'sun' 6;

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: $day-width * 7 + $gap * 6;
  gap: $gap;

  @each $name, $number in $days {
    &__start-day--#{$name}>.calendar__day:first-child {
      margin-left: ($day-width + $gap) * $number;
    }
  }

  &__day {
    height: 140px;
    padding: 0 3px;
    width: $day-width;
    background-color: rgba(242, 242, 242, 0.69);
    border: 1px solid rgb(116, 116, 116);

    &--current {
      background-color: rgba(179, 241, 163, 0.55);
    }
  }
}

